{% extends 'base.html' %}
{% load i18n %}


{% block content %}
{% if is_AP %}
{% include 'AP_app/navbar.html' %}
{% else %}
{% include 'AP_app/navbar.html' %}
{% endif %}
    <br/>
    <h1 class="text-center"> {% trans "Invoice history "%}{{pk}}</h1>
    <br/>
    <div class="container">
        <table class="table table-hover table-sm">
            <thead class="thead-eb-dark">
                <tr>
                    <th scope="col">{% trans "Invoice ID"%}</th>
                    <th scope="col">{% trans "User"%}</th>
                    <th scope="col">{% trans "Modified"%}</th>
                    <th scope="col">{% trans "Currency"%}</th>
                    <th scope="col">{% trans "Tax Payer"%}</th>
                    <th scope="col">{% trans "Invoice Number"%}</th>
                    <th scope="col">{% trans "PO Number"%}</th>
                    <th scope="col">{% trans "Net Amount"%}</th>
                    <th scope="col">{% trans "Tax Liens"%}</th>
                    <th scope="col">{% trans "Total Amount"%}</th>
                    <th scope="col">{% trans "Status"%}</th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in object_list %}
                <tr>
                    <th scope="row">{{invoice.id}}</th>
                    <td>{{invoice.history_user}}</td>
                    <td>{{invoice.history_date}}</td>
                    <td>{{invoice.currency}}</td>
                    <td>{{invoice.taxpayer.business_name}}</td>
                    <td>{{invoice.invoice_number}}</td>
                    <td>{{invoice.po_number}}</td>
                    <td>{{invoice.net_amount}}</td>
                    <td>{{invoice.vat}}</td>
                    <td>{{invoice.total_amount}}</td>
                    <td>{% if invoice.status == INVOICE_STATUS_NEW %}
                        <span class="badge badge-primary">{{invoice.get_status_display}}</span>
                        {% endif %}
                        {% if invoice.status == INVOICE_STATUS_REJECTED %}
                        <span class="badge badge-danger">{{invoice.get_status_display}}</span>
                        {% endif %}
                        {% if invoice.status == INVOICE_STATUS_CHANGES_REQUEST %}
                        <span class="badge badge-warning">{{invoice.get_status_display}}</span>
                        {% endif %}
                        {% if invoice.status == INVOICE_STATUS_PAID %}
                        <span class="badge badge-dark">{{invoice.get_status_display}}</span>
                        {% endif %}
                        {% if invoice.status == INVOICE_STATUS_APPROVED %}
                        <span class="badge badge-success">{{invoice.get_status_display}}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "_pagination.html" %}
    </div>
{% endblock%}
