{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load tz %}

{% block content %}

{% include 'navbar.html' %}

{{ block.super }}
{% csrf_token %}

<div class="row m-2">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}</div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <strong>{% trans "Invoice #" %}</strong>
        {{invoice.invoice_number}}
        <strong>{% trans "Date:" %}</strong>
        {{invoice.invoice_date|date:date_format}}
        {% if not taxpayer and invoice.status == INVOICE_STATUS_CHANGES_REQUEST or is_AP %}
        <a href="{% url 'invoice-update' pk=invoice.id %}" class="btn btn-outline-primary btn-sm mx-2">
          {% trans "Edit info" %}
        </a>
        {% elif taxpayer and invoice.status == INVOICE_STATUS_CHANGES_REQUEST %}
        <a href="{% url 'taxpayer-invoice-update' taxpayer_id=taxpayer.id pk=invoice.id %}" class="btn btn-outline-primary btn-sm mx-2">
          {% trans "Edit info" %}
        </a>
        {% endif %}
        <span class="float-right">
          <a class='btn btn-primary btn-sm mr-2 d-inline' href="{{ invoice.invoice_file.url }}">{% trans "Download Invoice" %}</a>
          <strong>{% trans "Status" %}:</strong>
          {% if invoice.status == INVOICE_STATUS_PENDING %}
          <span class="badge badge-primary">{{invoice.get_status_display}}</span>
          {% endif %}
          {% if invoice.status == INVOICE_STATUS_REJECTED %}
          <span class="badge badge-danger">{{invoice.get_status_display}}</span>
          {% endif %}
          {% if invoice.status == INVOICE_STATUS_CHANGES_REQUEST %}
          <span class="badge badge-warning">{{invoice.get_status_display}}</span>
          {% endif %}
          {% if invoice.status == INVOICE_STATUS_PAID %}
          <span class="badge badge-dark">{{invoice.get_status_display}}</span>
          {% endif %}
          {% if invoice.status == INVOICE_STATUS_APPROVED %}
          <span class="badge badge-success">{{invoice.get_status_display}}</span>
          {% endif %}
      </div>
      <div class="card-body">
        <div class="row mb-4">
          <div class="col-sm-4">
            <h6 class="mb-3">{% trans "From: " %}</h6>
            <div>
              <strong>{{taxpayer.business_name}}</strong>
            </div>
            <div>{{address.street}} {{address.number}}</div>
            <div>{{address.zip_code}} {{address.city}}</div>
            <div>{{address.country}}</div>
          </div>
          <div class="col-sm-8">
            <h6 class="mb-3">{% trans "Details:" %}</h6>
            <div><strong>{% trans "Taxpayer Identification Number:" %}</strong> {{taxpayer.cuit}}</div>
            <div><strong>{% trans "Payment Option:" %}</strong> {{taxpayer.get_payment_term_display}}</div>
            <div><strong>{% trans "PO number:" %}</strong> {{invoice.po_number}}</div>
            {% if invoice.workday_id%}
            <div><strong>{% trans "Workday ID:" %}</strong> {{invoice.workday_id}}</div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 col-sm-5 ml-auto">
            <table class="table table-clear">
              <tbody>
                <tr>
                  <td class="left">
                    <strong>{% trans "Net amount: " %}</strong>
                  </td>
                  <td class="text-right">
                    <strong>{{invoice.currency}}</strong> {{invoice.net_amount}}
                  </td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>{% trans "Tax Liens" %}</strong>
                  </td>
                  <td class="text-right">
                    <strong>{{invoice.currency}}</strong> {{invoice.vat}}
                  </td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>{% trans "Total" %}</strong>
                  </td>
                  <td class="text-right">
                    <strong>{{invoice.currency}}</strong> {{invoice.total_amount}}
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
     {% if is_AP %}
     <div class="card-footer justify-content-between">
       <div class="row">
         <div class="col pl-0">
           <form method='POST' class="form-inline" action="{% url 'change-invoice-status' pk=invoice.id %}" enctype="multipart/form-data">
             {% csrf_token %}
             {% if invoice.status != INVOICE_STATUS_APPROVED and invoice.status != INVOICE_STATUS_PAID %}
             <button type="submit" name='status' class="ml-3 pt-2 pb-2 btn btn-danger" value="{{ INVOICE_STATUS_REJECTED }}">{% trans "Reject" %}</button>
             {% endif %}
            {% if invoice.status == INVOICE_STATUS_APPROVED %}
                <button type="submit" name='status' class="ml-2 btn btn-dark" value="{{ INVOICE_STATUS_PAID }}">{% trans "Pay" %}</button>
            {% endif %}
            </form>
          </div>
          {% if invoice.status != INVOICE_STATUS_APPROVED and not invoice.workday_id %}
            <div class="col">
              <form method='POST' class="form-inline d-flex justify-content-end" action="{% url 'change-invoice-status' pk=invoice.id %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="number" required class="form-control" name="workday_id" placeholder="Workday ID">
                    <div class="input-group-append">
                        <button type="submit" name='status' class="btn btn-success" value="{{ INVOICE_STATUS_APPROVED }}">{% trans "Approve" %}</button>
                      </div>
                  </div>
                </form>
            </div>
          {% endif %}
          {% if invoice.status == INVOICE_STATUS_PENDING %}
          <div class="col text-right"> 
              <button id="toggleRequestChanges" class="btn btn-warning">{% trans 'Request Changes' %}</button>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <form method='POST' class="form" id="request-changes-form" action="{% url 'change-invoice-status' pk=invoice.id %}">
              {% csrf_token %}
              <textarea class="form-control" name="message" required rows="2"></textarea>
              <button type="submit" name='status' class="btn btn-warning my-2" value="{{ INVOICE_STATUS_CHANGES_REQUEST }}">{% trans "Send Request" %}</button>
            </form>
          </div>
         {% endif %}

        </div>
        <div class="row text-right">
          <div class="col">
            <span><a href="{% url 'invoice-history' pk=invoice.id %}" class="btn btn-primary p-2">{% trans "Invoice History" %}</a></span>
          </div>
        </div>
     </div>
    {% endif %}
    </div>
  </div>
  <div class="col-md-4">
    <iframe src="https://docs.google.com/gview?url={{ invoice.invoice_file.url }}&embedded=true" style="width:100%; height:100%;" frameborder="0"></iframe>
  </div>
  <div class="col-md-8">
    <div class="card my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">{% trans "Recent updates" %}</h6>
      <div>
        <div class="container">
          {% if invoice.status != INVOICE_STATUS_PAID %}
          <div class="row mt-2 pb-2 border-bottom border-gray ">

            <div class="col mb-2">
              <h6>{% trans "Make a comment" %}</h6>
              <form method='POST' action='{% url 'post-comment' pk=invoice.id %}' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <textarea class="form-control" name="message" required rows="3"></textarea>
                </div>
                <div class="row pl-3">
                <div class="pl-0 pr-0 col-md-3">
                  <button type="submit" name="status" class="btn btn-success">{% trans "Post a comment" %}</button>
                </div>
                <div class="col-md-9">
                    <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="invoice_file" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" accept="application/pdf">
                      <label class="custom-file-label" for="inputGroupFile01">{% trans "Choose a file" %}</label>
                    </div>
                  </div>
                </div>
              </div>
              </form>
            </div>
            {% endif %}
          </div>
        </div>
        {% for comment in comments %}
        <div class="row media-body pt-3 pb-3 ml-1 mr-1 mb-0 small lh-125 border-bottom border-gray">
          <div class="col">
            {% if not comment.user.is_ap_account or perms.users_app.ap_role %}
            <span class="font-weight-bold">{{ comment.user }}</span>
            {% else %}
            <span class="font-weight-bold">{% trans "Administrator" %}</span>
            {% endif %}
            <p class="font-italic mb-0">{{ comment.comment_date_received }}</p>
            {% if comment.comment_file %}
            <div class="row ml-0 mb-0">
              <p class="mr-1 mb-0">{% trans "Attachment: " %}</p>
              <a target="_blank" href="http://docs.google.com/gview?url={{ comment.comment_file.url }}">
                <i class="fas fa-paperclip"></i>
              </a>
            </div>
            {% endif %}
            <p class="mb-0">{{ comment.message | linebreaksbr }}</p>

          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.custom-file input').change(function (e) {
    $(this).next('.custom-file-label').html(e.target.files[0].name);
  });

  $("#toggleRequestChanges").click(function(){
    $("#request-changes-form").slideToggle();
  });
</script>
{% endblock %}
