{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

{% include 'messages_notification.html' %}
    <div class="row">
        <div class="col">
            <div class="pb-3 pt-3">
                <h1 class="text-center"> {% trans "Invoice List"%}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        {% include 'invoices_app/invoice_filters.html' %}
        <div class="row">
            <div class="col">
                <div class="dropdown">
                    {% if not user.is_AP %}
                    <button class="btn btn-success dropdown-toggle mb-2" data-toggle="dropdown">
                        <i class="fa fa-plus mr-2"></i>
                        {% trans "Upload Invoice"%}
                    </button>
                    <div class="dropdown-menu">
                        {% for taxpayer in all_taxpayers %}
                            {% if taxpayer.taxpayer_state == 'APPROVED' %}
                                <a href="{% url 'invoice-create' taxpayer_id=taxpayer.id %}" class="dropdown-item">{{taxpayer.business_name}}</a>
                            {% else %}
                                <span class="dropdown-item text-muted">{{taxpayer.business_name}} ({% trans "Taxpayer still in progress"%})</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
                <div class="col">
                    <a class='float-right text-success' href="{% url 'invoice-to-xls' %}?{{ filter_to_xls }}"><i class="far fa-2x fa-file-excel"></i></a>
                </div>
        </div>
        <div class="min-height">
            <table class="table table-hover table-sm">
                <thead class="thead-eb-dark">
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">{% trans "Received"%}</th>
                        <th scope="col">{% trans "Organization"%}</th>
                        <th scope="col">{% trans "Country"%}</th>
                        <th scope="col">{% trans "Invoice Date"%}</th>
                        <th scope="col">{% trans "Due Date"%}</th>
                        <th scope="col">{% trans "Eventbrite Entity"%}</th>
                        <th scope="col">{% trans "Invoice Number"%}</th>
                        <th scope="col">{% trans "PO Number"%}</th>
                        <th scope="col">{% trans "Total Amount"%}</th>
                        <th scope="col">{% trans "Status" %}
                        </th>
                        <th scope="col">{% trans "View"%}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                {% if not object_list%}
                    {% if user.is_AP %}
                        <tr><td  class="table-danger text-center" colspan="11">{% trans "No invoices" %}</td> </tr>
                    {% else %}
                        {% if has_approved_taxpayer %}
                            <tr><td  class="table-danger text-center" colspan="11">{% trans "No invoices" %}</td> </tr>
                        {% else %}
                            <tr><td  class="table-danger text-center" colspan="11">{% trans "You must have an approved organization in order to upload an invoice" %}</td> </tr>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% for invoice in object_list %}
                    <tr class="text-center">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{invoice.invoice_date_received|date:date_format }}</td>
                        <td>{{invoice.taxpayer.business_name}}</td>
                        <td>{{invoice.taxpayer.country}}</td>
                        <td>{{invoice.invoice_date|date:date_format }}</td>
                        <td>{{invoice.invoice_due_date|date:date_format }}</td>
                        <td>{{invoice.invoice_eb_entity}}</td>
                        <td>{{invoice.invoice_number}}</td>
                        <td>{{invoice.po_number}}</td>
                        <td>{{invoice.currency}} {{invoice.total_amount}}</td>
                        <td>{% if invoice.status == INVOICE_STATUS_PENDING %}
                            <span class="badge badge-primary">{{invoice.get_status_display}}</span>
                            {% endif %}
                            {% if invoice.status == INVOICE_STATUS_REJECTED %}
                            <span class="badge badge-danger">{{invoice.get_status_display}}</span>
                            {% endif %}
                            {% if invoice.status == INVOICE_STATUS_CHANGES_REQUEST %}
                            <span class="badge badge-warning">{{invoice.get_status_display}}</span>
                            {% endif %}
                            {% if invoice.status == INVOICE_STATUS_PAID %}
                            <span class="badge badge-dark">{{invoice.get_status_display}}</span>
                            {% endif %}
                            {% if invoice.status == INVOICE_STATUS_APPROVED %}
                            <span class="badge badge-success">{{invoice.get_status_display}}</span>
                            {% endif %}
                            {% if invoice.status == INVOICE_STATUS_IN_PROGRESS %}
                            <span class="badge badge-warning">{{invoice.get_status_display}}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'invoices-detail' taxpayer_id=invoice.taxpayer.id pk=invoice.id %}"><i class="fa fa-eye ml-2"></i></a>
                        </td>
                        <td>
                             {% if user.is_AP %}
                                {% if invoice.new_comment_from_supplier == True %}
                                <a data-toggle="tooltip" data-placement="right" title="{% trans 'New unread commments' %}">
                                    <i class='far fa-comment-dots' style='font-size:24px'></i>
                                </a>
                                {% endif %}
                             {% elif user.is_supplier %}
                                {% if invoice.new_comment_from_ap == True %}
                                <a data-toggle="tooltip" data-placement="bottom" title="{% trans 'New unread commments' %}">
                                    <i class='far fa-comment-dots' style='font-size:24px'></i>
                                </a>
                                {% endif %}
                             {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "_pagination.html" %}
    </div>
<script src="{% static 'js/tooltip_right.js' %}" type="text/javascript"></script>
<script>
    $('.timed').delay(4000).fadeOut(500);
</script>
{% endblock%}
