{% extends 'base.html' %}
{% load i18n %}


{% block content %}
{% if is_AP %}
{% include 'AP_app/navbar.html' %}
{% else %}
{% include 'supplier_app/navbar.html' %}
{% endif %}
    <div class="row">
        <div class="col">
            <div class="pb-3 pt-3">
                <h1 class="text-center"> {% trans "Invoice List"%}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        {% include '_filters.html' %}  
        <div class="row">
            <div class="col">
                <a class='float-right text-success' href="{% url 'invoice-to-xls' %}?{{ filter_to_xls }}"><i class="far fa-2x fa-file-excel"></i></a>          
            </div>
        </div>     
        <div class="min-height">
            <table class="table table-hover table-sm">
                <thead class="thead-eb-dark">
                    <tr class="text-center">
                        <th scope="col">{% trans "Invoice ID"%}</th>
                        <th scope="col">{% trans "Received"%}</th>
                        <th scope="col">{% trans "Taxpayer"%}</th>
                        <th scope="col">{% trans "Country"%}</th>
                        <th scope="col">{% trans "Invoice Date"%}</th>
                        <th scope="col">{% trans "Due Date"%}</th>
                        <th scope="col">{% trans "Invoice Number"%}</th>
                        <th scope="col">{% trans "PO Number"%}</th>
                        <th scope="col">{% trans "Total Amount"%}</th>
                        <th scope="col">{% trans "Status" %}
                        </th>
                        <th scope="col">{% trans "View"%}</th>
                    </tr>
                </thead>
                <tbody>
                {% if not object_list%}
                <tr><td  class="table-danger text-center" colspan="11">{% trans "No invoices" %}</td> </tr>
                {% endif %}
                {% for invoice in object_list %}
                    <tr>
                        <th scope="row">{{invoice.id}}</th>
                        <td>{{invoice.invoice_date_received|date:"d M, Y" }}</td>
                        <td>{{invoice.taxpayer.business_name}}</td>
                        <td>{{invoice.taxpayer.country}}</td>
                        <td>{{invoice.invoice_date|date:"d M, Y" }}</td>
                        <td>{{invoice.invoice_due_date|date:"d M, Y" }}</td>
                        <td>{{invoice.invoice_number}}</td>
                        <td>{{invoice.po_number}}</td>
                        <td class="text-center">{{invoice.currency}} {{invoice.total_amount}}</td>
                        <td>{% if invoice.status == INVOICE_STATUS_NEW %}
                            <span class="badge badge-primary">{{invoice.get_status_display}}</span>
                            {% endif %}
                            {% if invoice.status == INVOICE_STATUS_REJECTED %}
                            <span class="badge badge-danger">{{invoice.get_status_display}}</span>
                            {% endif %}
                            {% if invoice.status == INVOICE_STATUS_CHANGES_REQUEST %}
                            <span class="badge badge-warning">{{invoice.get_status_display}}</span>
                            {% endif %}
                            {% if invoice.status == INVOICE_STATUS_PAID %}
                            <span class="badge badge-dark">{{invoice.get_status_display}}</span>
                            {% endif %}
                            {% if invoice.status == INVOICE_STATUS_APPROVED %}
                            <span class="badge badge-success">{{invoice.get_status_display}}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'invoices-detail' taxpayer_id=invoice.taxpayer.id pk=invoice.id %}"><i class="fa fa-eye ml-2"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "_pagination.html" %}
    </div>
{% endblock%}
