{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% load static %}
<script src="{% static 'js/pdf_validation.js' %}" type="text/javascript"></script>
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

{% if form.non_field_errors %}
<div class="row justify-content-center mt-2">
    {% for err in form.non_field_errors %}
    <h5 class="alert alert-danger">{{ err }}</h5>
    {% endfor %}
</div>
{% endif %}
<div class="container">

  <div class="row">
    <div class="col-md-12">
      {% if invoice %}
      <p class="text-center py-4 h3">{% trans "Update Invoice" %}</p>
      {% else %}
      <p class="text-center py-4 h3">{{taxpayer.business_name}} > {% trans "Upload Invoice" %}</p>
      {% endif %}
    </div>
      <form id="invoiceForm" method="post" class="form-row" enctype="multipart/form-data">
        <div class="col-md-2">
        </div>
        <div class="col-md-10 align-self-center">
          <div class="row">
            <div class="form-group col-md-3">
              {{ form.invoice_type.label_tag }}
              {{ form.invoice_type }}
              <small class="text-danger">
                {{ form.invoice_type.errors }}
              </small>
              {% if form.invoice_type.help_text %}
              <p class="help">{{ form.invoice_type.help_text|safe }}</p>
              {% endif %}
              {{ form.select_example }}
            </div>
            <div class="form-group col-md-4">
              {{ form.invoice_number.label_tag }}
              {{ form.invoice_number }}
              <small class="text-danger">
                {{ form.invoice_number.errors }}
              </small>
              {% if form.invoice_number.help_text %}
              <p class="help">{{ form.invoice_number.help_text|safe }}</p>
              {% endif %}
            </div>
            <div class="form-group col-md-5">
              {{ form.invoice_date.label_tag }} {{ form.invoice_date }}
              <small class="text-danger">
                {{ form.invoice_date.errors }}
              </small>
              {% if form.invoice_date.help_text %}
              <p class="help">{{ form.invoice_date.help_text|safe }}</p>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              {{ form.po_number.label_tag }}
              <a data-toggle="tooltip" data-placement="right" title="{% trans 'Get the Purchase Order Number for your invoice from your contact/buyer at Eventbrite' %}">
                <i class="fas fa-info-circle"></i>
              </a>
              {{ form.po_number }}
              <small class="text-danger">
                {{ form.po_number.errors }}
              </small>
            </div>
            <div class="form-group col-md-6">
              <label for="eb-entity">
                {% trans "Eventbrite entity" %}
                <a data-toggle="tooltip" data-placement="right" title="{% trans 'Eventbrite company to which you bill' %}">
                  <i class="fas fa-info-circle"></i>
                </a>
              </label>
              <select class="form-control" name="eb_entity" id="eb-entity">
                {% for eb_entity in eb_entities%}
                <option value="{{eb_entity.id}}">{{eb_entity}}</option>
                {% endfor %}
              </select>
            </div>
            {% if user.is_AP%}
            <div class="form-group col-md-5">
                {{ form.workday_id.label_tag }} {{ form.workday_id }}
                <small class="text-danger">
                  {{ form.workday_id.errors }}
                </small>
                {% if form.workday_id.help_text %}
                <small class="text-muted">{{ form.workday_id.help_text|safe }}</small>
                {% endif %}
            </div>
            {% endif %}
          </div>
          <div class="row">
            <div class="form-group col-md-2">
              {{ form.currency.label_tag }} {{ form.currency }}
              <small class="text-danger">
                {{ form.currency.errors }}
              </small>
              {% if form.currency.help_text %}
              <p class="help">{{ form.currency.help_text|safe }}</p>
              {% endif %}
            </div>
            <div class="form-group col-md-3">
                {{ form.net_amount.label_tag }}
              {{ form.net_amount }}
              <small class="text-danger">
                {{ form.net_amount.errors }}
              </small>
              {% if form.net_amount.help_text %}
              <p class="help">{{ form.net_amount.help_text|safe }}</p>
              {% endif %}
            </div>
            <div class="form-group col-md-4">
              {{ form.vat.label_tag }} {{ form.vat }}
              <small class="text-danger">
                {{ form.vat.errors }}
              </small>
              {% if form.vat.help_text %}
              <p class="help">{{ form.vat.help_text|safe }}</p>
              {% endif %}
            </div>
            <div class="form-group col-md-3">
              {{ form.total_amount.label_tag }} {{ form.total_amount }}
              <small class="text-danger">
                {{ form.total_amount.errors }}
              </small>
              {% if form.total_amount.help_text %}
              <p class="help">{{ form.total_amount.help_text|safe }}</p>
              {% endif %}
            </div>
          </div>
          <div class="row ml-0 mr-0 mb-3">
            <div class="col">
              <div class="row mb-2">{% trans "Invoice File" %}</div>
              <div class="row"><p>{{ form.invoice_file }}</p></div>
            </div>
            
            
          </div>
          {% if form.invoice_file.errors %}
            {% for error in form.invoice_file.errors %}
              <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-md-12 text-right mt-3">
          <button id="submitBtn" type="submit" class="btn btn-primary mr-1">
            {% trans "Submit" %}
          </button>
          {% if invoice %}
          <a class='btn btn-danger' href="{% url 'invoices-detail' taxpayer_id=taxpayer_id pk=invoice.id %}">{% trans "Cancel" %}</a>
          {% else %}
          <a class='btn btn-danger' href="{% url 'invoices-list' %}">{% trans "Cancel" %}</a>
          {% endif %}
        </div>
        {% csrf_token %}
      </form>


  </div>
</div>

<script type="text/javascript">
  $(function()  {
    $("#invoiceForm").submit(function() {
      $("#submitBtn").attr("disabled", true);
      return true;
    });
  });

  $('#inputGroupFile01').change(function(e) {
    $(this).next('#id-custom-file-label1').html(e.target.files[0].name);
  });

  $('#inputGroupFile02').change(function(e) {
    $(this).next('#id-custom-file-label2').html(e.target.files[0].name);
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

function calculate_total_amount() {
  a = Number(document.getElementById('net_amount').value);
  b = Number(document.getElementById('vat').value);
  c = a + b;
  document.getElementById('total').value = c;
}
</script>
{% endblock %}
