[run]
source =
    AP_app
    invoices_app
    supplier_app
    users_app

omit =
    env/*
    */test*
    manage.py
    */__init__.py
    *migrations/*
    supplier_management_site/*
    *apps.py*
    *admin.py*

[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_