{% extends 'base.html' %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
{% endblock %}

{% block content %}
<h1 class="text-center"> Welcome to BriteSU </h1>
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
              <hr class="my-4">
              <div>
                <h4> If you are a supplier please:</h3>
                <button class="btn btn-eb btn-block text-uppercase">
                  <a href="{% url 'social:begin' 'eventbrite' %}">
                      Login with Eventbrite
                  </a>
                </button>
              </div>
              <hr>
              <div>
                <h4> If you are a EB employee please:</h3>
                <button class="btn btn-google btn-block text-uppercase">
                  <a href="{% url 'social:begin' 'google-oauth2' %}">
                      Login with Google              
                  </a>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    Eventbrite
  </footer>

{% endblock %}
