{% extends 'base.html' %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}

<div class="container">
    <div class="row align-items-center">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <h1 class="text-center"> Welcome to BriteSU </h1>
      </div>
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign In</h5>
                <hr class="my-4">
                <div>
                  <h5> If you are a supplier please:</h5>
                  <a class="btn btn-eb btn-block text-white text-uppercase" href="{% url 'social:begin' 'eventbrite' %}?next={{ request.GET.next }}">
                      Login with Eventbrite
                  </a>
                </div>
                <hr>
                <div>
                  <h5> If you are a EB employee please:</h5>
                  <a class="btn btn-google text-white btn-block text-uppercase" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}">
                      Login with Google              
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>

<footer class="page-footer fixed-bottom font-small blue-eb ">
  <div class="footer-copyright text-center text-white py-3">© 2019 Copyright:
      <a href="https://eventbrite.com"> Eventbrite.com</a>
  </div>
</footer>


{% endblock %}
