{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
              <hr class="my-4">
              <div>
              <button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit">
                <i class="fab fa-google mr-2"></i> 
                <a class="button is-warning is-hovered" href="{% url 'social:begin' 'eventbrite' %}">Login with Eventbrite</a>
              </button>
              </div>
              <hr>
              <div>
              <button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit">
                <i class="fab fa-google mr-2"></i> 
                <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>              
              </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
