{% load i18n %}


<h2 class="fs-title arg arg-attach ri mono">{% trans "Attachments and tax condition" %}</h2>
<h3 class="fs-subtitle arg arg-attach ri mono">({% trans "Only PDF files are accepted" %})</h3>
<h3 class="fs-subtitle arg arg-attach ri mono">- {% trans "Mandatory attachments" %} -</h3>

<div class="text-left arg arg-attach ri mono">{{ taxpayer_form.afip_registration_file.label_tag }}</div>
<div class="arg arg-attach ri mono">{{ taxpayer_form.afip_registration_file }}</div>

<div class="text-left arg arg-attach ri mono">{{ taxpayer_form.iibb_registration_file.label_tag }}</div>
<div class=" arg arg-attach ri mono">{{ taxpayer_form.iibb_registration_file }}</div>

<div class="text-left arg arg-attach ri mono">{{ bank_account_form.bank_cbu_file.label_tag }}</div>
<div class="div-input arg arg-attach ri mono">{{ bank_account_form.bank_cbu_file }}</div>

<h3 class="fs-subtitle arg arg-attach ri mono mt-3">- {% trans "Optional Attachments" %} -</h3>

<div class="text-left arg arg-attach ri">{{ taxpayer_form.afip_no_retention_taxes_file.label_tag }}</div>
<div class=" arg arg-attach ri optional">{{ taxpayer_form.afip_no_retention_taxes_file }}</div>

<div class="text-left arg arg-attach ri">{{ taxpayer_form.witholding_taxes_file.label_tag }}</div>
<div class=" arg arg-attach ri optional">{{ taxpayer_form.witholding_taxes_file }}</div>

<div class="text-left arg arg-attach ri ">{{ taxpayer_form.iibb_no_retention_taxes_file.label_tag }}</div>
<div class=" arg arg-attach ri optional">{{ taxpayer_form.iibb_no_retention_taxes_file }}</div>

<div class="text-left arg arg-attach ri ">{{ taxpayer_form.witholding_suss_file.label_tag }}</div>
<div class=" arg arg-attach ri optional">{{ taxpayer_form.witholding_suss_file }}</div>