


    <h2 class="fs-title arg">Bank Info</h2>
    <h3 class="fs-subtitle arg">Your presence on the social network</h3>
    <div class="text-left arg">{{ taxpayer_form.cuit.label_tag }}</div>
    <div class="div-input arg">{{ taxpayer_form.cuit }}</div>
    <div class="text-left arg">{{ bank_account_form.bank_account_number.label_tag }}</div>
    <div class="div-input arg">{{ bank_account_form.bank_account_number }}</div>
    <div class="text-left arg">{{ bank_account_form.bank_info.label_tag }}</div>
    <div class="div-input arg">{{ bank_account_form.bank_info }}</div>
    
    <input type="button" name="previous" class="previous action-button arg" value="Previous" />
    <input type="button" name="next" class="next action-button arg" value="Next" />
