{% load i18n %}


    <h2 class="fs-title arg arg-bank">{% trans "Bank Info" %}</h2>
    <h3 class="fs-subtitle arg arg-bank">{% trans "Enter your bank account details" %}</h3>
    <div class="text-left arg arg-bank">{{ taxpayer_form.cuit.label_tag }}</div>
    <div class="div-input arg arg-bank">{{ taxpayer_form.cuit }}</div>
    <div class="text-left arg arg-bank">{{ bank_account_form.bank_account_number.label_tag }}</div>
    <div class="div-input arg arg-bank">{{ bank_account_form.bank_account_number }}</div>
    <div class="text-left arg arg-bank">{{ bank_account_form.bank_info.label_tag }}</div>
    <div class="div-input arg arg-bank">{{ bank_account_form.bank_info }}</div>
    <div class="text-left arg arg-bank">{{ taxpayer_form.taxpayer_condition.label_tag }}</div>
    <div class="div-input arg arg-bank">{{ taxpayer_form.taxpayer_condition }}</div>
    
