html, body{
    height : 100%
}

.blue-eb{
    background-color: rgb(57, 54, 79)
}

a:hover{
    text-decoration: none
}

.background-orange-eb{
    background-color: #F05537
}

.text-orange-eb{
    color : #F05537
}

.btn-eb:hover{
    background-color: rgb(223, 79, 51)
}

.btn-google{
    background-color: #4285F4
}

.btn-google:hover{
    background-color: rgb(64, 129, 235)
}
