html, body{
    height : 100%
}

.blue-eb{
    background-color: #1E0A3C
}

a:hover{
    text-decoration: none
}

.background-orange-eb{
    background-color: #F05537
}

.text-orange-eb{
    color : #F05537
}

.btn-eb:hover{
    background-color: rgb(223, 79, 51)
}

.btn-google{
    background-color: #4285F4
}

.btn-google:hover{
    background-color: rgb(64, 129, 235)
}

.page-item.disabled .page-link {
    color: #ffffff;
    pointer-events: none;
    cursor: auto;
    background-color: #A9A8B3;
    border-color: #A9A8B3;
}

.page-item.active .page-link {
    color: #ffffff;
    pointer-events: none;
    cursor: auto;
    background-color: #F05537;
    border-color:  #F05537;
}

.page-item .page-link {
    color: #ffffff;
    background-color: #1E0A3C;
    border-color:  #1E0A3C;
}

.thead-eb-dark {
    color: #ffffff;
    background-color: #1E0A3C;
}
