a:hover{
    text-decoration: none
}

.btn-eb{
    background-color: #F05537
    color: white
}

.btn-google{
    background-color: #4285F4
}

.btn-google:hover{
    background-color: rgb(64, 129, 235)
}
