a:hover{
    text-decoration: none
}

.btn-eb{
    background-color: rgb(250, 250, 250)
}


 /* background-color: rgb(223, 79, 51) */

.btn-google{
    background-color: #4285F4
}

.btn-google:hover{
    background-color: rgb(64, 129, 235)
}

.login-bg{
    background-image: url('../images/supplier.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-signin{
    background-color: rgba(20, 2, 54, .9) !important;
}

.btn-orange{
    background-color :rgb(255, 128, 0);
}