{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container h-100 w-100 mt-3">
    {% include 'messages_notification.html'%}
        <div class="row justify-content-center">
            <h1>
                {% trans "Organizations" %}
            </h1>
        </div>
    <div class="row justify-content-center">
        <table class="table table-hover table-striped table-sm">
            <thead class="thead-eb-dark text-center">
                <tr>
                    <th scope="col">{% trans "Invited as(Company)"%}</th>
                    <th scope="col">{% trans "Description"%}</th>
                    <th scope="col">{% trans "Taxpayer Name"%}</th>
                    <th scope="col">{% trans "Taxpayer Status"%}</th>
                    <th scope="col">{% trans "Taxpayer Country"%}</th>
                    <th scope="col">{% trans "EB entity to bill" %}</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for company in company_list %}

                <tr>
                    <td>{{company.name}}</td>
                    <td>{{company.description}}</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                {% endfor %}
                {% for taxpayereb in taxpayerebentity_list %}
                <tr>
                    <td>{{taxpayereb.taxpayer.company.name}}</td>
                    <td>{{taxpayereb.taxpayer.company.description}}</td>
                    <td>{{taxpayereb.taxpayer.business_name}}</td>
                    <td>
                        <span class="{{taxpayereb.taxpayer.get_badge}}">
                            {{taxpayereb.taxpayer.get_taxpayer_state_display}}
                        </span>
                    </td>
                    <td>{{taxpayereb.taxpayer.country}}</td>
                    <td>{{taxpayereb.eb_entity}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}