{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% include 'navbar.html' %}
    <h1 class='text-center mb-5'> 
        {% trans "Create a new company" %}
    </h1>
    <div class="col-sm-4 offset-sm-4 text-center">
        <form method="post" class="form-inlin justify-content-center">
            {% csrf_token %}
            <div class="form-group">
                <div class="m-3 text-center">
                    <h6>{% trans "Name" %}</h6>
                </div>
                <input type="text" name="name" maxlength="200" required="" id="id_name" class='form-control'>
            </div>
            <div class="form-group">
                <div class="m-3 text-center">
                    <h6>{% trans "Description" %}</h6>
                </div>
                    <textarea name="description" cols="40" rows="10" required="" id="id_description" class='form-control'></textarea>
            </div>
            <input type="submit" value="{% trans 'Create Company' %}" class='btn btn-success m-2'>
            <a class="btn btn-danger" href="{% url 'company-list' %}">{% trans "Cancel" %}</a>
        </form>
    </div>
    
    
{% endblock %}
