{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}
{% include 'AP_app/navbar.html' %}
<div class="container h-100 w-100 mt-3">
    {% include 'AP_app/taxpayer_filter.html' %}
    <div class="row justify-content-center">
        <table class="table table-hover table-striped table-sm">
            <thead class="thead-eb-dark">
                <tr>
                    <th scope="col">{% trans "Business name"%}</th>
                    <th scope="col">{% trans "CUIT"%}</th>
                    <th scope="col">{% trans "Status"%}</th>
                    <th scope="col">{% trans "Action" %}</th>
                </tr>
            </thead>
            <tbody class="text-right">
                {% for taxpayer in taxpayer_list %}
                <tr>
                    <td>{{taxpayer.business_name}}</td>
                    <td>{{taxpayer.taxpayer_identifier}}</td>
                    <td>{{taxpayer.taxpayer_state}}</td>
                    <td>
                        <a class='btn btn-info' href="{% url 'supplier-details' taxpayer_id=taxpayer.id %}">More
                            Details
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
