{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}
{% if request.user.is_AP %}
{% include 'AP_app/navbar.html' %}
{% else %}
{% include 'supplier_app/navbar.html' %}
{% endif %}
<div class="container h-100">
    {% if not workday_id_is_setted  and is_AP%}
    <div class="row justify-content-center alert alert-danger" role="alert">
        <h3>{% trans "You must set workday id to the taxpayer" %}</h3>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="col-md-12">
                <br>
                <h5 class="text-center"> {% trans "General Information" %}</h5>
                <table class="table table-hover text-center">
                    <thead class="thead-eb-dark">
                        <tr>
                            {% if is_AP %}
                            <th scope="col">{% trans "Workday id" %}</th>
                            {% endif %}
                            <th scope="col">{% trans "Business name" %}</th>
                            <th scope="col">{% trans "Taxpayer Identification Number" %}</th>
                            <th scope="col">{% trans "Payment Type" %}</th>
                            <th scope="col">{% trans "Payment Term" %}</th>
                            <th scope="col">{% trans "EB entities" %}</th>
                            <th scope="col">{% trans "Comments" %}</th>
                            <th scope="col">{% trans "Country" %}</th>
                            <th scope="col">{% trans "Files" %} </th>
                            {% if taxpayer.taxpayer_state != 'DENIED' %}
                            <th scope="col">{% trans "Action" %} </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if is_AP %}
                            <th scope="col">{{taxpayer.workday_id}}</th>
                            {% endif %}
                            <td>{{taxpayer.business_name}}</td>
                            <td>{{taxpayer.cuit}}</td>
                            <td>{{taxpayer.payment_type}}</td>
                            <td>{{taxpayer.payment_term}}</td>
                            <td>
                                <ul class="list-group list-group-flush">
                                    {% for eb in taxpayer.taxpayerebentity_set.all %}
                                    <li>{{eb.eb_entity}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{taxpayer.taxpayer_comments}}</td>
                            <td>{{taxpayer.country}}</td>
                            <td>
                                <ul class="list-group">
                                    <li><a target="_blank"
                                            href="http://docs.google.com/gview?url={{ taxpayer.afip_registration_file.url }}">{% trans "AFIP certificate" %}</a>
                                    </li>
                                    <li><a target="_blank"
                                            href="http://docs.google.com/gview?url={{ taxpayer.witholding_taxes_file.url }}">{% trans "Withholding taxes" %}</a>
                                    </li>
                                </ul>
                            </td>
                            {% if taxpayer.taxpayer_state != 'DENIED' %}
                            <td>
                                <a class='btn btn-info'
                                    href="{% url 'taxpayer-update' taxpayer_id=taxpayer.id %}">{% trans "Edit" %}</a>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="col-md-12">
                <br>
                <h5 class='text-center'> {% trans "Address Information" %}</h5>
                <table class="table table-hover text-center">
                    <thead class="thead-eb-dark">
                        <tr>
                            <th scope="col">{% trans "Street"%}</th>
                            <th scope="col">{% trans "Number"%}</th>
                            <th scope="col">{% trans "Zip_Code"%}</th>
                            <th scope="col">{% trans "City"%}</th>
                            <th scope="col">{% trans "State"%}</th>
                            <th scope="col">{% trans "Country"%}</th>
                            {% if taxpayer.taxpayer_state != 'DENIED' %}
                            <th scope="col">{% trans "Action"%}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{taxpayer_address.street}}</td>
                            <td>{{taxpayer_address.number}}</td>
                            <td>{{taxpayer_address.zip_code}}</td>
                            <td>{{taxpayer_address.city}}</td>
                            <td>{{taxpayer_address.state}}</td>
                            <td>{{taxpayer_address.country}}</td>
                            {% if taxpayer.taxpayer_state != 'DENIED' %}
                            <td>
                                <a class='btn btn-info'
                                    href="{% url 'address-update' taxpayer_id=taxpayer.id address_id=taxpayer_address.id %}">{% trans "Edit" %}</a>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="col-md-12">
                <br>
                <h5 class='text-center'> {% trans "Bank Account Information" %}</h5>
                <table class="table table-hover text-center">
                    <thead class="thead-eb-dark">
                        <tr>
                            <th scope="col">{% trans "Bank Name" %}</th>
                            <th scope="col">{% trans "Bank Code" %}</th>
                            <th scope="col">{% trans "Account Number" %}</th>
                            <th scope="col">{% trans "Files" %}</th>
                            {% if taxpayer.taxpayer_state != 'DENIED' %}
                            <th scope="col">{% trans "Action" %}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{taxpayer_bank_account.get_bank_info_display}}</td>
                            <td>{{taxpayer_bank_account.bank_info}}</td>
                            <td>{{taxpayer_bank_account.bank_account_number}}</td>
                            <td>
                                <ul class="list-group">
                                    <a target="_blank"
                                        href="http://docs.google.com/gview?url={{ taxpayer_bank_account.bank_cbu_file.url }}">
                                        {% trans "CBU" %}
                                    </a>
                                </ul>
                            </td>
                            {% if taxpayer.taxpayer_state != 'DENIED' %}
                            <td>
                                <a class='btn btn-info'
                                    href="{% url 'bank-account-update'  taxpayer_id=taxpayer.id bank_id=taxpayer_bank_account.id%}">{% trans "Edit" %}</a>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="col-md-12">
        	{% if is_AP %}
            	    {% if not workday_id_is_setted and taxpayer.taxpayer_state == 'PENDING' or taxpayer.taxpayer_state == 'CHANGE REQUIRED' %}
		    <div class="row justify-content-end">
			<div class="col-md-6">
			    {% include 'comments.html' %}                
    			</div>
            		<div class="col-md-6">
                	    {% include 'AP_app/deny-taxpayer.html'%}
    			</div>
		    </div>
               	    {% elif workday_id_is_setted and taxpayer.taxpayer_state == 'PENDING' or taxpayer.taxpayer_state == 'CHANGE REQUIRED' %}
		    <div class="row justify-content-end">
            		<div class="col-md-9">
			    {% include 'comments.html' %}                
    			</div>
            		<div class="col-md-3 d-flex justify-content-around">
                	    {% include 'AP_app/approve-taxpayer.html'%}
                	    {% include 'AP_app/deny-taxpayer.html'%}
    			</div>
		    </div>
            	    {% endif %}       
		{% else %}
		    <div class="row justify-content-end">
			    <div class="col-md-12">
			    {% include 'comments.html' %}                
    			</div>
		    </div>
        	{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
