{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}
{% include 'AP_app/navbar.html' %}
<div class="container p-3">
    <div class="row justify-content-center">
        <h4>Address info</h4>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <div class="row justify-content-end mt-3">
                    <input class="btn btn-success" type="submit" value="Save">
                </div>
            </form>
        </div>

    </div>
</div>


{% endblock %}