{% extends 'base.html' %}
{% load i18n %}


{% block content %}
{% if is_AP %}
{% include 'AP_app/navbar.html' %}
{% else %}
{% include 'supplier_app/navbar.html' %}
{% endif %}
    <br/>
    <h1 class="text-center"> {% trans "Invoice List"%}</h1>
    <br/>
    <div class="container">
        <table class="table table-hover table-sm">
            <thead class="thead-eb-dark">
                <tr>
                    <th scope="col">{% trans "Invoice ID"%}</th>
                    <th scope="col">{% trans "Date"%}</th>
                    <th scope="col">{% trans "Tax Payer"%}</th>
                    <th scope="col">{% trans "PO Number"%}</th>
                    <th scope="col">{% trans "Status"%}</th>
                    <th scope="col">{% trans "View"%}</th>                    
                </tr>
            </thead>
            <tbody>
            {% for invoice in object_list %}
                <tr>
                    <th scope="row">{{invoice.id}}</td>
                    <td>{{invoice.invoice_date_received}}</td>
                    <td>{{invoice.taxpayer.name}}</td>
                    <td>{{invoice.po_number}}</td>
                    <td><span class="badge badge-success">{{invoice.status}}</span></td>
                    <td><a href="{{invoice.invoice_file.url}}"><i class="fa fa-download"></i></a>
                        <a href="https://docs.google.com/viewerng/viewer?url={{ invoice.invoice_file.url }}" target="_blank"><i class="fa fa-eye ml-2"></i></a>
                        <a href="{% url 'invoice-approve' pk=invoice.id %}" ><i class="fa fa-check ml-2"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "_pagination.html" %}
    </div>
{% endblock%}