{% load i18n %}
    <form action="{% url 'taxpayer-comment' taxpayer_id=taxpayer_id %}" method="POST" class="form-inline d-flex align-items-start">
        {% csrf_token %}
        <div class="form-group flex-grow-1 mr-3"> 
            <textarea name="message" class="form-control w-100" placeholder={% trans "write your comments here" %}></textarea>
        </div>
       <button type="submit" class="btn btn-primary mr-3" name="action" value="0">
 	    {% trans 'Make Comment' %}
	</button>
	{% if request.user.is_AP %}
	<button type="submit" class="btn btn-warning" name="action" value="{{ change_required}}">
	    	{% trans 'Request Change' %}
	    </button>
	{% endif %}
    </form>

