{% load i18n %}

<form action="{% url 'set_user_language' %}" method="POST">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path }}" />
    <div class="dropdown pull-left">
        <a id="language-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {% if request.user.preferred_language == 'en' or LANGUAGE_CODE == 'en' %}
          <span class="flag-icon flag-icon-us mr-2"></span>
          {% endif %}
          {% if request.user.preferred_language == 'es' or LANGUAGE_CODE == 'es' %}
          <span class="flag-icon flag-icon-ar mr-2"></span>
          {% endif %}
          {% if request.user.preferred_language == 'pt-br' or LANGUAGE_CODE == 'pt-br' %}
          <span class="flag-icon flag-icon-br mr-2"></span>
          {% endif %}

        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="language-button">
          <button class="dropdown-item" type="submit" name="language" value="en">
              <span class="flag-icon flag-icon-us mr-2"></span>English
          </button>
          <button class="dropdown-item" type="submit" name="language" value="es">
              <span class="flag-icon flag-icon-ar mr-2"></span>Español
          </button>
          <button class="dropdown-item" type="submit" name="language" value="pt-br">
              <span class="flag-icon flag-icon-br mr-2"></span>Português
          </button>
        </ul>
    </div>
</form>
