{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container h-100 w-100 mt-3">
    {% include 'messages_notification.html'%}
    <div class="row justify-content-center">
        <h1>
            {% trans "Organizations" %}
        </h1>
    </div>
    {% include 'supplier_app/AP/taxpayer_filter.html' %}
    <div class="row p-3">
        <label for="search">{% trans "Search: " %}</label>
        <div class="col-sm-3">
            <input id="searchInput" class="form-control mx-3">
        </div>
        <div class="col">
            <a class='float-right text-success' href="{% url 'taxpayer-to-xls' %}?{{ filter_to_xls }}"><i
                    class="far fa-2x fa-file-excel"></i></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <table class="table table-hover table-striped table-sm">
            <thead class="thead-eb-dark text-center">
                <tr>
                    <th scope="col">{% trans "Business name"%}</th>
                    <th scope="col">{% trans "Entity to bill"%}</th>
                    <th scope="col">{% trans "Taxpayer Identification Number"%}</th>
                    <th scope="col">{% trans "Status"%}</th>
                    <th scope="col">{% trans "Action" %}</th>
                </tr>
            </thead>
            <tbody class="text-center" id="tableToFilter">
                {% for taxpayer in taxpayer_list %}
                <tr>
                    <td>{{taxpayer.business_name}}</td>
                    <td>
                        {% for eb_entity in taxpayer.eb_entities%}
                        {{eb_entity}}
                        {% endfor%}
                    </td>
                    <td>{{taxpayer.taxpayer_identifier}}</td>
                    <td>
                        <span class="{{taxpayer.get_badge}}">
                            {{taxpayer.get_taxpayer_state_display}}
                        </span>
                    </td>
                    <td>
                        <a class='btn btn-info' href="{% url 'supplier-details' taxpayer_id=taxpayer.id %}">
                            {% trans "More details" %}
                        </a>
                        {% if taxpayer.new_comment_from_supplier%}
                        <a data-toggle="tooltip" data-placement="right" title="{% trans 'New unread commments' %}">
                            <i class='far fa-comment-dots' style='font-size:24px'></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
