{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}
{% include 'AP_app/navbar.html' %}
<div class="container h-100 w-100">
    {% include 'messages_notification.html' %}
    <div class="row justify-content-center m-3">
        <h1 class='text-center'> {% trans "Company List" %}</h1>
    </div>
    <div class="row justify-content-center">
        <table class="table table-hover table-sm">
            <thead class="thead-eb-dark">
                <tr>
                    <th>{% trans "Name"%}</th>
                    <th>{% trans "Description"%}</th>
                    <th>{% trans "Email Invitation"%}</th>
                </tr>
            </thead>
            <tbody>
                {% for company in object_list %}
                <tr>
                    <td>{{company.name}}</td>
                    <td>{{company.description}}</td>
                    <td>
                        <form action="{% url 'company-invite' %}" method="post">
                            {% csrf_token %}
                            <input type="email" name="email" placeholder="Email">
                            <input type="hidden" name="company_id" value="{{ company.id }}">
                            <input type="submit" value="Invite">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
