{% extends 'base.html' %}
{% load i18n %}


{% block content %}
{% include 'supplier_app/navbar.html' %}
    <br/>
    <h1 class="text-center"> {% trans "Invoice List"%}</h1>
<a class='btn btn-success float-right' href="{% url 'invoice-create' taxpayer_id=taxpayer_id %}">Create a new invoice</a>
    <div class="container">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">{% trans "Invoice ID"%}</th>
                    <th scope="col">{% trans "Date"%}</th>
                    <th scope="col">{% trans "Tax Payer"%}</th>
                    <th scope="col">{% trans "PO Number"%}</th>
                    <th scope="col">{% trans "Status"%}</th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in object_list %}
                <tr>
                    <th scope="row">{{invoice.id}}</td>
                    <td>{{invoice.invoice_date_received}}</td>
                    <td>{{invoice.taxpayer.name}}</td>
                    <td>{{invoice.po_number}}</td>
                    <td>{{invoice.status}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock%}