{% extends 'base.html' %}
{% load i18n %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}
{% if is_AP %}
  {% include 'AP_app/navbar.html' %}
{% else %}
{% include 'supplier_app/navbar.html' %}
  {% endif %}
{% if form.non_field_errors %}
<div class="row justify-content-center mt-2">
    {% for err in form.non_field_errors %}
    <h5 class="alert alert-danger">{{ err }}</h5>
    {% endfor %}
</div>
{% endif %}
<div class="container">

  <div class="row">
    <div class="col-md-12">
      {% if invoice %}
      <p class="text-center py-4 h3">{% trans "Update Invoice" %}</p>
      {% else %}
      <p class="text-center py-4 h3">{% trans "Create Invoice" %}</p>
      {% endif %}
    </div>
      <form id="invoiceForm" method="post" class="form-row" enctype="multipart/form-data">
        <div class="col-md-2">
        </div>
        <div class="col-md-10 align-self-center">
          <div class="row">
            <div class="form-group col-md-3">
              {{ form.invoice_type.label_tag }}
              {{ form.invoice_type }}
              <small class="text-danger">
                {{ form.invoice_type.errors }}
              </small>
              {% if form.invoice_type.help_text %}
              <p class="help">{{ form.invoice_type.help_text|safe }}</p>
              {% endif %}
              {{ form.select_example }}
            </div>
            <div class="form-group col-md-4">
              {{ form.invoice_number.label_tag }}
              {{ form.invoice_number }}
              <small class="text-danger">
                {{ form.invoice_number.errors }}
              </small>
              {% if form.invoice_number.help_text %}
              <p class="help">{{ form.invoice_number.help_text|safe }}</p>
              {% endif %}
            </div>
            <div class="form-group col-md-5">
              {{ form.invoice_date.label_tag }} {{ form.invoice_date }}
              <small class="text-danger">
                {{ form.invoice_date.errors }}
              </small>
              {% if form.invoice_date.help_text %}
              <p class="help">{{ form.invoice_date.help_text|safe }}</p>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-5">
              {{ form.po_number.label_tag }} {{ form.po_number }}
              <small class="text-danger">
                {{ form.po_number.errors }}
              </small>
              {% if form.po_number.help_text %}
              <small class="text-muted">{{ form.po_number.help_text|safe }}</small>
              {% endif %}
            </div>
            <div class="form-group col-md-5">
              <label for="eb-entity">{% trans "Eventbrite entity" %}</label>
              <select class="form-control" name="eb_entity" id="eb-entity">
                {% for eb_entity in eb_entities%}
                <option value="{{eb_entity.id}}">{{eb_entity}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-2">
              {{ form.currency.label_tag }} {{ form.currency }}
              <small class="text-danger">
                {{ form.currency.errors }}
              </small>
              {% if form.currency.help_text %}
              <p class="help">{{ form.currency.help_text|safe }}</p>
              {% endif %}
            </div>
            <div class="form-group col-md-3">
                {{ form.net_amount.label_tag }} 
              {{ form.net_amount }}
              <small class="text-danger">
                {{ form.net_amount.errors }}
              </small>
              {% if form.net_amount.help_text %}
              <p class="help">{{ form.net_amount.help_text|safe }}</p>
              {% endif %}
            </div>
            <div class="form-group col-md-4">
              {{ form.vat.label_tag }} {{ form.vat }}
              <small class="text-danger">
                {{ form.vat.errors }}
              </small>
              {% if form.vat.help_text %}
              <p class="help">{{ form.vat.help_text|safe }}</p>
              {% endif %}
            </div>
            <div class="form-group col-md-3">
              {{ form.total_amount.label_tag }} {{ form.total_amount }}
              <small class="text-danger">
                {{ form.total_amount.errors }}
              </small>
              {% if form.total_amount.help_text %}
              <p class="help">{{ form.total_amount.help_text|safe }}</p>
              {% endif %}
            </div>
          </div>
          <div class="row ml-0 mr-0 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">{% trans "Invoice File" %}</span>
                  </div>
                  <div class="custom-file">
                    {{ form.invoice_file }}
                    <label class="custom-file-label" id='id-custom-file-label1' for="inputGroupFile01">{% trans "Choose file" %}</label>
                  </div>
                </div>
          </div>
          {% if form.invoice_file.errors %}
            {% for error in form.invoice_file.errors %}
              <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %}
          <div class="row ml-0 mr-0 mt-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">{% trans "PO File" %}</span>
              </div>
              <div class="custom-file">
                {{ form.po_file }}
                <label class="custom-file-label" id='id-custom-file-label2' for="inputGroupFile01">{% trans "Choose file" %}</label>
              </div>
            </div>
          </div>
          {% if form.po_file.errors %}
            {% for error in form.po_file.errors %}
              <div class="alert alert-danger alert-dismissible fade show mt-3 mb-0" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-md-12 text-right mt-3">
          <button id="submitBtn" type="submit" class="btn btn-primary">
            {% trans "Submit" %}
          </button>
          {% if invoice %}
          <a class='btn btn-danger' href="{% url 'invoices-detail' taxpayer_id=taxpayer_id pk=invoice.id %}">{% trans "Cancel" %}</a>
          {% elif is_AP %}
          <a class='btn btn-danger' href="{% url 'invoices-list' %}">{% trans "Cancel" %}</a>
          {% else %}
          <a class='btn btn-danger' href="{% url 'supplier-invoice-list' taxpayer_id=taxpayer_id %}">{% trans "Cancel" %}</a>
          {% endif %}
        </div>
        {% csrf_token %}
      </form>


  </div>
</div>

<script type="text/javascript">
  $(function()  {
    $("#invoiceForm").submit(function() {
      $("#submitBtn").attr("disabled", true);
      return true;
    });
  });

  $('#inputGroupFile01').change(function(e) {
    $(this).next('#id-custom-file-label1').html(e.target.files[0].name);
  });

  $('#inputGroupFile02').change(function(e) {
    $(this).next('#id-custom-file-label2').html(e.target.files[0].name);
  });

function calculate_total_amount() {
  a = Number(document.getElementById('net_amount').value);
  b = Number(document.getElementById('vat').value);
  c = a + b;
  document.getElementById('total').value = c;
}
</script>
{% endblock %}
