{% extends 'base.html' %}
{% load i18n %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}
{% include 'supplier_app/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
                <h4 class="text-center">New Invoice</h4>
        </div>
        <div class="container">
            <form id="invoice-form" method="post" class="form-row" enctype="multipart/form-data">
                <div class="col-md-2">
                </div>
                <div class="col-md-10 align-self-center">
                        <div class="row">
                            <div class="form-group col-md-3">
                                {{ form.invoice_type.label_tag }}
                                {{ form.invoice_type }}
                                <small class="text-danger">
                                    {{ form.invoice_type.errors }}
                                </small>
                                {% if form.invoice_type.help_text %}
                                <p class="help">{{ form.invoice_type.help_text|safe }}</p>
                                {% endif %}
                                {{ form.select_example }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.invoice_number.label_tag }}
                                {{ form.invoice_number }}
                                <small class="text-danger">
                                    {{ form.invoice_number.errors }}
                                </small>
                                {% if form.invoice_number.help_text %}
                                <p class="help">{{ form.invoice_number.help_text|safe }}</p>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-5">
                                {{ form.invoice_date.label_tag }} {{ form.invoice_date }}
                                <small class="text-danger">
                                        {{ form.invoice_date.errors }}
                                </small>
                                {% if form.invoice_date.help_text %}
                                <p class="help">{{ form.invoice_date.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                {{ form.po_number.label_tag }} {{ form.po_number }}
                                <small class="text-danger">
                                    {{ form.po_number.errors }}
                                </small>
                                {% if form.po_number.help_text %}
                                <small class="text-muted">{{ form.po_number.help_text|safe }}</small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                {{ form.currency.label_tag }} {{ form.currency }}
                                <small class="text-danger">
                                    {{ form.currency.errors }}
                                </small>
                                {% if form.currency.help_text %}
                                <p class="help">{{ form.currency.help_text|safe }}</p>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="id_net_amount">Net Amount</label>
                                {{ form.net_amount }}
                                <small class="text-danger">
                                    {{ form.net_amount.errors }}
                                </small>
                                {% if form.net_amount.help_text %}
                                <p class="help">{{ form.net_amount.help_text|safe }}</p>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                {{ form.vat.label_tag }} {{ form.vat }}
                                <small class="text-danger">
                                    {{ form.vat.errors }}
                                </small>
                                {% if form.vat.help_text %}
                                <p class="help">{{ form.vat.help_text|safe }}</p>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.total_amount.label_tag }} {{ form.total_amount }}
                                <small class="text-danger">
                                    {{ form.total_amount.errors }}
                                </small>
                                {% if form.total_amount.help_text %}
                                <p class="help">{{ form.total_amount.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                {{ form.invoice_file.label_tag }} {{ form.invoice_file }}
                                <small class="text-danger">
                                    {{ form.invoice_file.errors }}
                                </small>
                                {% if form.invoice_file.help_text %}
                                <p class="help">{{ form.invoice_file.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                {{ form.po_file.label_tag }} {{ form.po_file }}
                                <small class="text-danger">
                                    {{ form.po_file.errors }}
                                </small>
                                {% if form.po_file.help_text %}
                                <p class="help">{{ form.po_file.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                </div>
                <div class="col-md-12 text-center">
                    <button id="submit-btn" type="submit" class="btn btn-primary">
                            Submit
                    </button>
                    <a class='btn btn-danger' href="{% url 'supplier-invoice-list' taxpayer_id=taxpayer_id %}">Cancel</a>
                </div>
                {% csrf_token %}
            </form>
        </div>

    </div>
</div>

</script>
<script type="text/javascript">
$(document).ready(function () {
    $("#invoice-form").submit(function () {
        $("#submit-btn").attr("disabled", true);
        return true;
    });
});
</script>
{% endblock %}
