{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark justify-content-between blue-eb">
    <div class="col-md-10">
        <a href="{% url 'supplier-home' %}">
            <img src="{% static 'images/eventbrite.png' %}" width=50 heigth=50 alt="">
        </a>
    </div>

    <div class="collapse navbar-collapse col-md-2" id="navbarSupportedContent">
        <ul class='navbar-nav'>
          <li class="nav-item dropdown pull-right">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user mr-2"></i> {{ user.first_name }}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" href="{% url 'logout' %}">
                      <i class="fas fa-sign-out-alt mr-2"></i>
                      Log out
                    </a>
                  </div>
          </li>
        </ul>
    </div>
</nav>
