{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}
{% include 'supplier_app/navbar.html' %}
<div class="container h-100 w-100">
    {% include 'messages_notification.html' %}
    <div class="row justify-content-center p-3">
        <div class="col-md-10">
            <div class="row justify-content-end">
                {% if user_has_company %}
                <a class='btn btn-success' href="{% url 'taxpayer-create' %}">{% trans "Create a new taxpayer" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-hover">
                <thead class="thead-eb-dark">
                    <tr>
                        <th scope="col">{% trans "Business name"%}</th>
                        <th scope="col">{% trans "Taxpayer Identification Number"%}</th>
                        <th scope="col">{% trans "Status"%}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for taxpayer in taxpayers %}
                    <tr>
                        <td>{{taxpayer.business_name}}</td>
                        <td>{{taxpayer.cuit}}</td>
                        <td>{{taxpayer.get_taxpayer_state_display}}</td>
                        <td>
                            <a class='btn btn-info'
                                href="{% url 'supplier-invoice-list' taxpayer_id=taxpayer.id %}">
                                {% trans "Invoices" %}
                            </a>
                            <a class='btn btn-info'
                                href="{% url 'supplier-details' taxpayer_id=taxpayer.id %}">
                                {% trans "Details" %}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
