{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}
{% include 'supplier_app/navbar.html' %}
<div class="container h-100 m-0 p-0">
    <div class="row h-100">
            <div class="col-md-2">
                </div>
                <div class="col-md-10 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <h1 class='text-center'> {% trans "Welcome Supplier" %}</h1>
                                <br><br><br>
                                <table class="table table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">{% trans "Name"%}</th>
                                                <th scope="col">{% trans "CUIT"%}</th>
                                                <th scope="col">{% trans "Razon Social"%}</th>
                                                <th scope="col">{% trans "Status"%}</th>
                                                <!-- <th scope="col"></th> -->
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for taxpayer in taxpayers %}
                                            <tr>
                                                <td>{{taxpayer.name}}</td>
                                                <td>{{taxpayer.cuit}}</td>
                                                <td>{{taxpayer.razon_social}}</td>
                                                <td>{{taxpayer.taxpayer_state}}</td>
                                                <!-- <td>
                                                    <a class='btn btn-info' href="#">Edit</a>
                                                </td> -->
                                                <td>
                                                    <a class='btn btn-info' href="{% url 'supplier-invoice-list' taxpayer_id=taxpayer.id %}">Invoices</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                <a class='btn btn-success' href="{% url 'taxpayer-create' %}">Create a new tax payer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
