{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="container col-md-11" style="height:70vh">
    {% if not workday_id_is_setted  and is_AP%}
    <div class="row justify-content-center" role="alert">
        <h5 class="alert alert-danger">{% trans "You must set workday id to the taxpayer" %}</h5>
    </div>
    {% endif %}
    {% include 'messages_notification.html' %}
    <div class="row h-100">
        <div class="card col-md-9 h-100">
            <div class="card-body">

                <div class="col-md-12">
                    <div class="row justify-content-between">
                        <div class="col-md-8">
                            <div class="row">
                                <h5 class="card-title col-md-4">{% trans "General information" %}</h5>
                                <strong> | </strong>
                                {% if taxpayer.taxpayer_state != 'DENIED' %}
                                <a class='card-link'
                                    href="{% url 'taxpayer-update' taxpayer_id=taxpayer.id %}">
                                    {% trans "Edit" %}
                                    <i class="fa fa-edit"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row justify-content-around">
                                <strong>{% trans "Status" %}:</strong>
                                <p>
                                    <span class="{{taxpayer.get_badge}}">
                                        {{ taxpayer.get_taxpayer_state_display}}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="card-subtitle mb-2 text-muted">{% trans "Workday id" %}</h6>
                        </div>
                        <div class="col-md-4">
                            <h6 class="card-subtitle mb-2 text-muted">{% trans "Business name" %}</h6>
                        </div>
                        <div class="col-md-5">
                            <h6 class="card-subtitle mb-2 text-muted">{% trans "Taxpayer Identification Number" %}</h6>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="card-text">
                                {% if taxpayer.workday_id%}
                                {{taxpayer.workday_id}}
                                {% else %}
                                {% trans "No workday id" %}
                                {% endif%}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>{{taxpayer.business_name}}</p>
                        </div>
                        <div class="col-md-5">
                            <p>{{taxpayer.cuit}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="card-subtitle mb-2 text-muted">{% trans "Payment Type" %}</h6>
                        </div>
                        <div class="col-md-4">
                            <h6 class="card-subtitle mb-2 text-muted">{% trans "Payment Term" %}</h6>
                        </div>
                        <div class="col-md-5">
                            <h6 class="card-subtitle mb-2 text-muted">{% trans "EB entities" %}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="card-text">{{taxpayer.get_payment_type_display}}</p>
                        </div>
                        <div class="col-md-4">
                            <p>{{taxpayer.payment_term}}</p>
                        </div>
                        <div class="col-md-5">
                            {% for eb_entity in taxpayer.eb_entities%}
                            <p>{{eb_entity}}</p>
                            {% endfor%}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="card-subtitle mb-2 text-muted">{% trans "Country" %}</h6>
                        </div>
                        <div class="col-md-4">
                            <h6 class="card-subtitle mb-2 text-muted">{% trans "Files" %}</h6>
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="card-text">{{taxpayer.country}}</p>
                        </div>
                        <div class="col-md-4">
                            <a target="_blank"
                                href="http://docs.google.com/gview?url={{ taxpayer.afip_registration_file.url }}">
                                <span class="badge badge-info">
                                    {% trans "AFIP certificate" %}
                                    <i class="fa fa-eye ml-2"></i>
                                </span>
                            </a>
                            {% if taxpayer.witholding_taxes_file %}
                            <a target="_blank"
                                href="http://docs.google.com/gview?url={{ taxpayer.witholding_taxes_file.url }}">
                                <span class="badge badge-info">
                                    {% trans "Withholding taxes" %}
                                    <i class="fa fa-eye ml-2"></i>
                                </span>
                            </a>
                            {% endif %}
                            <div class="col-md-5">

                            </div>
                        </div>
                    </div>
                </div>
                
                <hr>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="row">
                                    <h5 class="card-title pr-3">{% trans "Bank info" %}</h5>
                                    <strong> |</strong>
                                    {% if taxpayer.taxpayer_state != 'DENIED' %}
                                    <a class='card-link'
                                        href="{% url 'bank-account-update'  taxpayer_id=taxpayer.id bank_id=taxpayer_bank_account.id%}">
                                        {% trans "Edit" %}
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="row mb-3">
                                    <p class="card-subtitle text-muted">{% trans "Bank name" %}:</p>
                                    <p class="card-subtitle pl-2">
                                        {{taxpayer_bank_account.get_bank_info_display}}
                                    </p>
                                </div>
                                <div class="row mb-3">
                                    <p class="card-subtitle text-muted">{% trans "Bank code" %}:</p>
                                    <p class="card-subtitle pr-2 pl-3">
                                        {{taxpayer_bank_account.bank_info}}
                                    </p>
                                </div>
                                <div class="row mb-3">
                                    <p class="card-subtitle text-muted">{% trans "Account number" %}:</p>
                                    <p class="card-subtitle pr-2 pl-3">
                                        {{taxpayer_bank_account.bank_account_number}}
                                    </p>
                                </div>
                                <div class="row mb-3">
                                    <p class="card-subtitle text-muted">{% trans "Files" %}:</p>
                                    <a target="_blank" class="card-subtitle pr-2 pl-3"
                                        href="http://docs.google.com/gview?url={{ taxpayer_bank_account.bank_cbu_file.url }}">
                                        <span class="badge badge-info">
                                            {% trans "CBU" %}
                                            <i class="fa fa-eye ml-2"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="row">
                                    <h5 class="card-title pr-3">{% trans "Address information" %}</h5>
                                    <strong> |</strong>
                                    {% if taxpayer.taxpayer_state != 'DENIED' %}
                                    <a class='card-link'
                                        href="{% url 'address-update' taxpayer_id=taxpayer.id address_id=taxpayer_address.id %}">
                                        {% trans "Edit" %}
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row mt-3 mb-3">
                                    <div class="col-md-12">
                                        <div class="row mb-2">
                                            <div class="col-md-4">
                                                <h6 class="card-subtitle text-muted">{% trans "Street"%}</h6>
                                            </div>
                                            <div class="col-md-4">
                                                <h6 class="card-subtitle text-muted">{% trans "Number"%}</h6>
                                            </div>
                                            <div class="col-md-4">
                                                <h6 class="card-subtitle text-muted">{% trans "Zip_Code"%}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p class="card-text">{{taxpayer_address.street}}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="card-text">{{taxpayer_address.number}}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="card-text">{{taxpayer_address.zip_code}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="row mb-2">
                                            <div class="col-md-4">
                                                <h6 class="card-subtitle text-muted">{% trans "City"%}</h6>
                                            </div>
                                            <div class="col-md-4">
                                                <h6 class="card-subtitle text-muted">{% trans "State"%}</h6>
                                            </div>
                                            <div class="col-md-4">
                                                <h6 class="card-subtitle text-muted">{% trans "Country"%}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p class="card-text">{{taxpayer_address.city}}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="card-text">{{taxpayer_address.state}}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="card-text">{{taxpayer_address.country}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end">
                    {% if is_AP %}
                    <a href="{% url 'taxpayer-history' pk=taxpayer.id %}" class="btn btn-primary">
                        {% trans "Taxpayer History" %}
                        <i class="fas fa-history"></i>
                    </a>
                    {% endif %}
                </div>

            </div>
        </div>

        <div class="card col-md-3 h-100 overflow-auto">
            <div class="card-body">
                <h5 class="card-title">{% trans "Comments" %}</h5>
                {% for comment in comments %}
                <div class="row media-body pt-3 pb-3 ml-1 mr-1 mb-0 small lh-125 border-bottom border-gray">
                    <div class="col">
                        <span class="font-weight-bold">{{ comment.user.get_name  }}</span>
                        <p class="font-italic">{{ comment.comment_date_received  }}</p>
                        <p class="my-3">{{ comment.message | linebreaksbr  }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row pt-3 pb-3">
        <div class="col-md-12">
            {% if is_AP %}
            {% if taxpayer.taxpayer_state == 'PENDING' or taxpayer.taxpayer_state == 'CHANGES PENDING' %}
            <div class="row">
                <div class="col-md-8">
                    {% include 'supplier_app/comments.html' %}
                </div>
                <div class="col-md-4">
                    <div class="row justify-content-around">
                        {% include 'supplier_app/AP/approve-taxpayer.html'%}
                        {% include 'supplier_app/AP/deny-taxpayer.html'%}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                    <div class="col-md-12">
                        {% include 'supplier_app/comments.html' %}
                    </div>
            </div>
            {% endif %}
            {% else %}
            <div class="row justify-content-start">
                <div class="col-md-12">
                    {% include 'supplier_app/comments.html' %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}