{% extends 'base.html' %}

{% block content %}
{% include 'supplier_app/navbar.html' %}
<form method="post">
    {% csrf_token %}
    <div class="row m-3">
        <div class="col-md-6 form-group">
            <h4>Taxpayer info</h4>
            <div>
                {{taxpayer_form.name.label}}
                {{taxpayer_form.name}}
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    {{taxpayer_form.razon_social.label}}
                    {{taxpayer_form.razon_social}}
                </div>
                <div class="col-md-4">
                    {{taxpayer_form.cuit.label}}
                    {{taxpayer_form.cuit}}
                </div>
                <div class="col-md-4">
                    {{taxpayer_form.forma_de_pago.label}}
                    {{taxpayer_form.forma_de_pago}}
                </div>
            </div>
            <div>
                {{taxpayer_form.justificacion.label}}
                {{taxpayer_form.justificacion}}
            </div>
        </div>

        <div class='col-md-6 form-group'>
            <h4>Bank account</h4>
            {{bankaccount_form.as_p}}
        </div>
    </div>

    <hr>
    <div class="row m-3">
        <div class="col-md-12 form-group">
            <h4>Address info</h4>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="">{{address_form.country.label}}</label>
                    {{address_form.country}}
                </div>
                <div class="form-group col-md-4">
                    <label for="">{{address_form.state.label}}</label>
                    {{address_form.state}}
                </div>
                <div class="form-group col-md-4">
                    <label for="">{{address_form.city.label}}</label>
                    {{address_form.city}}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 form-group">
                    <label for="">{{address_form.street.label}}</label>
                    {{address_form.street}}
                </div>
                <div class="col-md-4 form-group">
                    <label for="">{{address_form.number.label}}</label>
                    {{address_form.number}}
                </div>
                <div class="col-md-4 form-group">
                    <label for="">{{address_form.zip_code.label}}</label>
                    {{address_form.zip_code}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <input class="btn btn-primary d-inline-block w-50" type="submit" value="Create taxpayer!" />
        </div>
    </div>
</form>
{% endblock %}