{% extends 'base.html' %}

{% block content %}
{% include 'supplier_app/navbar.html' %}
{% include 'messages_notification.html' %}
<form class="p-3"method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row m-3">
        <div class="col-md-6 form-group">
            <h4>Taxpayer info</h4>
            {{taxpayer_form}}
        </div>
        <div class="col-md-6 form-group">
            <h4>Address info</h4>
            {{address_form}}
        </div>
    </div>
    <hr>
    <div class="row m-3">
        <div class="col-md-12 form-group">
            <h4>Bank account</h4>
            {{bank_account_form}}
        </div>
    </div>
    <div class="row justify-content-end pr-5">
        <input class="btn btn-success mr-3" type="submit" value="Create taxpayer"/>
        <a class="btn btn-danger" href="{% url 'supplier-home' %}">Cancel</a>
    </div>
</form>
{% endblock %}