{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="container col-md-11" style="height:70vh">
    {% include 'messages_notification.html' %}
    <div class="row">
        <div class="card col-md-9">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row mb-3">
                            <div class="col">
                                <!-- GENERAL INFORMATION -->
                                <h5 class="card-title d-inline mr-3">{% trans "General information" %}</h5>
                                <strong> | </strong>
                                {% if taxpayer.taxpayer_state != 'DENIED' %}
                                <a class='card-link d-inline mr-4'
                                    href="{% url 'taxpayer-update' taxpayer_id=taxpayer.id %}">
                                    {% trans "Edit" %}
                                    <i class="fa fa-edit"></i>
                                </a>
                                {% endif %}
                                <strong class="d-inline">{% trans "Status" %}:</strong>
                                <p class="d-inline">
                                    <span class="{{taxpayer.get_badge}} d-inline">
                                        {{ taxpayer.get_taxpayer_state_display}}
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="row mb-2 pl-3">
                                <p class="card-subtitle text-muted">{% trans "Workday id" %}:</p>
                                <p class="card-subtitle ml-2">
                                    {% if taxpayer.workday_id%}
                                    {{taxpayer.workday_id}}
                                    {% else %}
                                    {% trans "No workday id" %}
                                    {% endif%}
                                </p>
                        </div>

                        <div class="row mb-2 pl-3">
                            <p class="card-subtitle text-muted">{% trans "Business name" %}:</p>
                            <p class="card-subtitle ml-2">{{taxpayer.business_name}}</p>
                        </div>

                        <div class="row mb-2 pl-3">
                            <p class="card-subtitle text-muted">{% trans "Taxpayer Identification Number" %}:</p>
                            <p class="card-subtitle ml-2">{{taxpayer.cuit}}</p>
                        </div>

                        <div class="row mb-2 pl-3">
                            <p class="card-subtitle text-muted">{% trans "Payment Type" %}:</p>
                            <p class="card-subtitle ml-2">{{taxpayer.get_payment_type_display}}</p>
                        </div>

                        <div class="row mb-2 pl-3">
                            <p class="card-subtitle text-muted">{% trans "Payment Term" %}:</p>
                            <p class="card-subtitle ml-2">{{taxpayer.payment_term}}</p>
                        </div>

                        <div class="row mb-2 pl-3">
                            <p class="card-subtitle text-muted">{% trans "EB entities" %}:</p>
                            {% for eb_entity in taxpayer.eb_entities%}
                                <p class="card-subtitle d-inline ml-2">{{eb_entity}}</p>
                                {% endfor%}
                        </div>

                        <div class="row mb-2 pl-3">
                            <p class="card-subtitle text-muted">{% trans "Country" %}:</p>
                            <p class="card-subtitle ml-2">{{taxpayer.country}}</p>
                        </div>

                        <div class="row mb-2 pl-3" style="width: fit-content;">
                            <div class="col-2" style="padding:0;">
                                <p class="card-subtitle text-muted">{% trans "Files" %}:</p>
                            </div>

                            <div class="col-6 justify-content-start" style="padding:0; margin: -6px 0 0 0px;">
                                <a target="_blank" class=""
                                    href="http://docs.google.com/gview?url={{ taxpayer.afip_registration_file.url }}">
                                    <span class="badge badge-info">
                                        {% trans "AFIP registration certificate" %}
                                        <i class="fa fa-eye ml-2"></i>
                                    </span>
                                </a>

                                <!-- IIBB CERTIFICATE -->
                                <a target="_blank" class="d-inline"
                                    href="http://docs.google.com/gview?url={{ taxpayer.iibb_registration_file.url }}">
                                    <span class="badge badge-info">
                                        {% trans "IIBB registration certificate" %}
                                        <i class="fa fa-eye ml-2"></i>
                                    </span>
                                </a>

                                <!-- WITHOLDING TAXES -->
                                {% if taxpayer.witholding_taxes_file %}
                                <a target="_blank" class="d-inline"
                                    href="http://docs.google.com/gview?url={{ taxpayer.witholding_taxes_file.url }}">
                                    <span class="badge badge-info">
                                        {% trans "Certificate of no income withholding" %}
                                        <i class="fa fa-eye ml-2"></i>
                                    </span>
                                </a>
                                {% endif %}

                                <!-- AFIP NO RETENTION -->
                                {% if taxpayer.afip_no_retention_taxes_file %}
                                <a target="_blank" class="d-inline"
                                    href="http://docs.google.com/gview?url={{ taxpayer.afip_no_retention_taxes_file.url }}">
                                    <span class="badge badge-info">
                                        {% trans "AFIP No Retention" %}
                                        <i class="fa fa-eye ml-2"></i>
                                    </span>
                                </a>
                                {% endif %}

                                <!-- IIBB NO RETENTION -->
                                {% if taxpayer.iibb_no_retention_taxes_file %}
                                <a target="_blank" class="d-inline"
                                    href="http://docs.google.com/gview?url={{ taxpayer.iibb_no_retention_taxes_file.url }}">
                                    <span class="badge badge-info">
                                        {% trans "IIBB No Retention" %}
                                        <i class="fa fa-eye ml-2"></i>
                                    </span>
                                </a>
                                {% endif %}

                                <!-- WITHOLDING SUSS -->
                                {% if taxpayer.witholding_suss_file %}
                                <a target="_blank" class="d-inline"
                                    href="http://docs.google.com/gview?url={{ taxpayer.witholding_suss_file.url }}">
                                    <span class="badge badge-info">
                                        {% trans "Certificate of no SUSS withholding" %}
                                        <i class="fa fa-eye ml-2"></i>
                                    </span>
                                </a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-2 pl-3">
                            <p class="card-subtitle text-muted"></p>
                            <p class="card-subtitle ml-2"></p>
                        </div>
                    </div>

                    <!-- CONTACT INFORMATION -->
                    <div class="col-md-5">
                        <div class="row mb-2">
                            <h5 class="card-title pr-3 d-inline">{% trans "Contact information" %}</h5>
                        <strong> |</strong>
                        {% if taxpayer.taxpayer_state != 'DENIED' %}
                        <a class='card-link  d-inline'
                            href="{% url 'contact-update' taxpayer_id=taxpayer.id contact_id=taxpayer_contact.id %}">
                            {% trans "Edit" %}
                            <i class="fa fa-edit d-inline"></i>
                        </a>
                        {% endif %}
                        </div>

                        <div class="row mb-2" style="width: 400px;">
                            <p class="card-subtitle text-muted d-inline">{% trans "Contact person" %}:</p>
                            <p class="card-subtitle ml-2 d-inline">{{taxpayer_contact.contact_person}}</p>
                        </div>

                        <div class="row mb-2">
                            <p class="card-subtitle text-muted">{% trans "Phone number" %}:</p>
                            <p class="card-subtitle ml-2">{{taxpayer_contact.phone_number}}</p>
                        </div>

                        <div class="row mb-2">
                            <p class="card-subtitle text-muted">{% trans "Email" %}:</p>
                            <p class="card-subtitle ml-2">{{taxpayer_contact.email}}</p>
                        </div>

                        <div class="row mb-3">
                            <p class="card-subtitle text-muted">{% trans "Web site" %}:</p>
                            <p class="card-subtitle ml-2">{{taxpayer_contact.website}}</p>
                        </div>

                        <div class="row mb-2">
                            <h5 class="card-title pr-3 d-inline">{% trans "Address information" %}</h5>
                        <strong> |</strong>
                        {% if taxpayer.taxpayer_state != 'DENIED' %}
                        <a class='card-link d-inline'
                            href="{% url 'address-update' taxpayer_id=taxpayer.id address_id=taxpayer_address.id %}">
                            {% trans "Edit" %}
                            <i class="fa fa-edit d-inline"></i>
                        </a>
                        {% endif %}
                        </div>

                        <div class="row mb-2">
                            <p class="card-subtitle text-muted">{% trans "Street"%}:</p>
                            <p class="card-subtitle ml-2">{{taxpayer_address.street}}</p>
                        </div>

                        <div class="row mb-2">
                            <p class="card-subtitle text-muted">{% trans "Number"%}:</p>
                            <p class="card-subtitle ml-2">{{taxpayer_address.number}}</p>
                        </div>

                        <div class="row mb-2">
                            <p class="card-subtitle text-muted">{% trans "City"%}:</p>
                            <p class="card-subtitle ml-2">{{taxpayer_address.city}}</p>
                        </div>

                        <div class="row mb-2">
                            <p class="card-subtitle text-muted">{% trans "Zip_Code"%}:</p>
                            <p class="card-subtitle ml-2">{{taxpayer_address.zip_code}}</p>
                        </div>

                        <div class="row mb-2" style="width: 400px;">
                            <p class="card-subtitle text-muted">{% trans "State"%}:</p>
                            <p class="card-subtitle ml-2" >{{taxpayer_address.state}}</p>
                        </div>

                        <div class="row mb-2">
                            <p class="card-subtitle text-muted">{% trans "Country"%}:</p>
                            <p class="card-subtitle ml-2">{{taxpayer_address.country}}</p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="col-md-12">
                                <div class="row">
                                    <h5 class="card-title pr-3">{% trans "Bank info" %}</h5>
                                    <strong> |</strong>
                                    {% if taxpayer.taxpayer_state != 'DENIED' %}
                                    <a class='card-link'
                                        href="{% url 'bank-account-update'  taxpayer_id=taxpayer.id bank_id=taxpayer_bank_account.id%}">
                                        {% trans "Edit" %}
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="row mb-2">
                                    <p class="card-subtitle text-muted">{% trans "Bank name" %}:</p>
                                    <p class="card-subtitle pl-2">
                                        {{taxpayer_bank_account.get_bank_info_display}}
                                    </p>
                                </div>

                                <div class="row mb-2">
                                    <p class="card-subtitle text-muted">{% trans "Beneficiary" %}:</p>
                                    <p class="card-subtitle pl-2">
                                        {{taxpayer_bank_account.bank_beneficiary}}
                                    </p>
                                </div>

                                <div class="row mb-2">
                                    <p class="card-subtitle text-muted">{% trans "Bank account type" %}:</p>
                                    <p class="card-subtitle pl-2">
                                        {{taxpayer_bank_account.get_bank_account_type_display}}
                                    </p>
                                </div>

                                <div class="row mb-2">
                                    <p class="card-subtitle text-muted">{% trans "Bank transaction type" %}:</p>
                                    <p class="card-subtitle pl-2">
                                        {{taxpayer_bank_account.get_bank_transaction_type_display}}
                                    </p>
                                </div>

                                <div class="row mb-2">
                                    <p class="card-subtitle text-muted">{% trans "Taxpayer condition" %}:</p>
                                    <p class="card-subtitle pl-2">
                                        {{taxpayer.get_taxpayer_condition_display}}
                                    </p>
                                </div>

                                <div class="row mb-2">
                                    <p class="card-subtitle text-muted">{% trans "Bank code" %}:</p>
                                    <p class="card-subtitle pr-2 pl-3">
                                        {{taxpayer_bank_account.bank_info}}
                                    </p>
                                </div>
                                <div class="row mb-2">
                                    <p class="card-subtitle text-muted">{% trans "Account number" %}:</p>
                                    <p class="card-subtitle pr-2 pl-3">
                                        {{taxpayer_bank_account.bank_account_number}}
                                    </p>
                                </div>
                                <div class="row mb-2">
                                    <p class="card-subtitle text-muted">{% trans "Files" %}:</p>
                                    <a target="_blank" class="card-subtitle pr-2 pl-3"
                                        href="http://docs.google.com/gview?url={{ taxpayer_bank_account.bank_cbu_file.url }}">
                                        <span class="badge badge-info">
                                            {% trans "Bank account certificate" %}
                                            <i class="fa fa-eye ml-2"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% if is_AP %}
                    <div class="mr-auto">
                        {% if taxpayer.taxpayer_state == 'APPROVED' %}
                        <a class="btn btn-danger " target="_blank" href="{% url 'pdf-web' taxpayer_id=taxpayer.id %}">
                            {% trans "View PDF" %}
                            <i class="fas fa-file-pdf"></i>
                        </a>
                        {% endif %}
                    </div>

                    <a href="{% url 'taxpayer-history' taxpayer_id=taxpayer.id %}" class="btn btn-primary">
                        {% trans "Taxpayer History" %}
                        <i class="fas fa-history"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card col-md-3 overflow-auto">
            <div class="card-body">
                <h5 class="card-title">{% trans "Comments" %}</h5>
                {% for comment in comments %}
                <div class="row media-body pt-3 pb-3 ml-1 mr-1 mb-0 small lh-125 border-bottom border-gray">
                    <div class="col">
                        <span class="font-weight-bold">{{ comment.user.get_name  }}</span>
                        <p class="font-italic">{{ comment.comment_date_received  }}</p>
                        <p class="my-3">{{ comment.message | linebreaksbr  }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row pt-3 pb-3">
        <div class="col-md-12">
            {% if is_AP %}
            {% if taxpayer.taxpayer_state == 'PENDING' or taxpayer.taxpayer_state == 'CHANGES PENDING' or taxpayer.taxpayer_state == 'IN PROGRESS' %}
            <div class="row">
                <div class="col-md-8">
                    {% include 'supplier_app/comments.html' %}
                </div>
                <div class="col-md-4">
                    <div class="row justify-content-around">
                        {% if taxpayer.taxpayer_state == 'PENDING' or taxpayer.taxpayer_state == 'CHANGES PENDING' %}
                        {% include 'supplier_app/AP/in-progress-taxpayer.html'%}
                        {% endif %}
                        {% if taxpayer.taxpayer_state == 'IN PROGRESS'%}
                        {% include 'supplier_app/AP/approve-taxpayer.html'%}
                        {% endif %}
                        {% include 'supplier_app/AP/deny-taxpayer.html'%}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                    <div class="col-md-12">
                        {% include 'supplier_app/comments.html' %}
                    </div>
            </div>
            {% endif %}
            {% else %}
            <div class="row justify-content-start">
                <div class="col-md-12">
                    {% include 'supplier_app/comments.html' %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}